// Color
$color-primary: #222222;
$color-title: #111111;
$color-hover: #dab647;
$color-hover-second: #ffffff;

// Background
$background-primary: #333333;
$background-hover: #dab647;

// Border color
$border-color: #dab647;