// Color
$color-primary: #222222;
$color-title: #111111;
$color-nav: #eeee22;
$color-second: #d5b03c;
$color-hover: #dab647;
$color-hover-second: #ffffff;

// Background
$background-menu: #000000;
$background-primary: #333333;
$background-hover: #dab647;
$background-nav: #1c1c1c;
$background-footer: #222222;

// Border color
$border-color: #dab647;