.element-slides {
  position: relative;

  &.owl-carousel {
    .owl-nav {
      margin: 0;

      button {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));

        &.owl-prev,
        &.owl-next {
          background-color: transparent;
          margin: 0;
          padding: 0 !important;
        }

        &.owl-prev {
          left: 15px;
        }

        &.owl-next {
          right: 15px;
        }

        i.fa {
          font-size: 30px;

          &:hover {
            color: $color-hover;
          }
        }
      }
    }

    .owl-dots {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 15px;
      margin: 0;

      .owl-dot {
        span {
          background-color: #ffffff;
        }

        &.active,
        &:hover {
          span {
            background-color: $background-hover;
          }
        }
      }
    }
  }
}

.element-slides__item {
  position: relative;

  &--bg {
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--inner,
  &--overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--inner {
    @include flexbox();
  }

  &--content {
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    @include flexbox();
    @include flex-direction(column);
    @include flex-grow(0);
    @include flex-shrink(0);

    > div {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
  }

  &--heading {
    font-size: 35px;
    color: #ffffff;
    font-family: $font-family-second;
  }

  &--description {
    font-size: 26px;
    color: #ffffff;
  }

  &--link {
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    padding: 12px 24px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 3px;
    @include transition();

    a {
      display: block;
      color: #ffffff;
    }
  }
}

.element-slides--h-position {
  &-center {
    .element-slides__item--inner {
      @include justify-content(center);
    }
  }

  &-left {
    .element-slides__item--inner {
      @include justify-content(flex-start);
    }
  }

  &-right {
    .element-slides__item--inner {
      @include justify-content(flex-end);
    }
  }

  &-middle {
    .element-slides__item--inner {
      @include align-items(center);
    }
  }

  &-top {
    .element-slides__item--inner {
      @include align-items(flex-start);
    }
  }

  &-bottom {
    .element-slides__item--inner {
      @include align-items(flex-end);
    }
  }
}

.element-slides--v-position {
  &-middle {
    .element-slides__item--inner {
      @include align-items(center);
    }
  }

  &-top {
    .element-slides__item--inner {
      @include align-items(flex-start);
    }
  }

  &-bottom {
    .element-slides__item--inner {
      @include align-items(flex-end);
    }
  }
}
