.main-navigation {
  background-color: $background-nav;

  .site-navbar {
    position: relative;
  }
  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;
    }
  }
}
.site-logo {
  @include flex(0 0 auto);

  a {
    display: inline-block;
    padding: 15px 0;
  }
}
.site-menu {
  @include flex(1);

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 0 15px;

      a {
        position: relative;
        text-shadow: none;
        display: block;
        color: $color-nav;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      .sub-menu {
        min-width: 200px;
        background-color: #ffffff;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include box-shadow( 1px 1px 15px rgba(0,0,0,0.15) );
        @include transition();

        li {
          padding: 8px 20px;
          display: block;
          border-bottom: 1px solid #ececec;

          a {
            white-space: nowrap;
            color: $color-title;

            &:hover {
              color: $color-hover;
            }
          }
          .sub-menu {
            left: 90%;
            top: -1px;
          }
          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  > ul {
    > li {
      > a {
        text-transform: uppercase;

        &:before {
          position: absolute;
          top: -5px;
          left: 0;
          content: '';
          width: 0;
          height: 3px;
          opacity: 0;
          background-color: $color-hover;
          @include transition();
        }
        &:hover {
          &:before {
            opacity: 1;
            width: 100%;
          }
        }
      }
      &.current-menu-item {
        > a {
          color: $color-hover;

          &:before {
            color: $color-hover;
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}